/laskarit/viikko2/Unicafe/target/
/laskarit/viikko2/Unicafe/nbproject/
/harjoitusprojekti/target
/laskarit/viikko2/Osa10testi/nbproject/private/
/laskarit/viikko2/Osa10testi/build/
/laskarit/viikko2/Ohjelma/nbproject/private/
/laskarit/viikko2/Ohjelma/build/
/harjoitusprojekti/nbproject/